<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969064489163-pos6ec805iatnvlb2hmqvutnbnak0h86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969064489163-pos6ec805iatnvlb2hmqvutnbnak0h86</string>
	<key>API_KEY</key>
	<string>AIzaSyBmOVd7OSTPvYHg4QhiSthjGTo-mZl-OYE</string>
	<key>GCM_SENDER_ID</key>
	<string>969064489163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catndog.ermi</string>
	<key>PROJECT_ID</key>
	<string>cat-n-dog</string>
	<key>STORAGE_BUCKET</key>
	<string>cat-n-dog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969064489163:ios:ea6537bfc94793e516bb4e</string>
</dict>
</plist>